<div class="card flex" style="padding: 0; ">
    <p-breadcrumb class="max-w-full" [style]="{'border-radius': '6px'}" [model]="_listMenuItems" [home]="_defaultHomeMenu" />
</div>

<div class="flex-1 h-full overflow-y-auto overflow-x-clip overflow-hidden flex border border-surface rounded-2xl bg-surface-0 dark:bg-surface-900"
  style="height: calc(100vh - 100px); max-height: calc(83vh - 100px); border-radius: 6px;">

  <div class="w-full border-x border-surface flex flex-col" style="max-height: 100%; height: 100%;">
    
    <div class="flex items-center p-4 gap-7 border-b border-surface sticky top-0 z-10 border-0">
      <div class="flex items-center">
          <p-avatar image="/assets/images/just-logo.png" styleClass="mr-2 av" size="normal" shape="circle" />
          <div class="flex-1">
              <div class="text-color">
                  TalkVera
              </div>
          </div>
      </div>
  </div>
    <div #chatScroll class="flex-1 overflow-y-auto flex flex-col gap-8 py-8 px-6">
      <div *ngFor="let message of _arrayModelFilteredMessage" class="flex items-start min-w-64 w-fit max-w-[60%]"
        [ngClass]="{ 'ml-auto mr-0 flex-row-reverse': message.sender === _enumSender.User }">
        <div class="flex items-center gap-2 sticky top-0 transition-all" [ngClass]="{
                            'flex-row-reverse': message.sender === _enumSender.User
                        }">
          <img *ngIf="message.sender === _enumSender.User" src="/assets/images/user.png" alt="User Avatar"
            class="w-10 h-10 text-sm font-medium rounded-full" />
          <img *ngIf="message.sender === _enumSender.Chatbot || message.sender === _enumSender.Admin"
            src="/assets/images/agent.png" alt="Agent Avatar" class="w-10 h-10 text-sm font-medium rounded-full" />
          <div>
            <svg [ngClass]="{
                                    'fill-surface-100 dark:fill-surface-800': message.sender === _enumSender.Chatbot || message.sender === _enumSender.Admin,
                                    'fill-primary rotate-180': message.sender === _enumSender.User
                                }" class="" xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="0 0 7 11"
              fill="none">
              <path
                d="M1.79256 7.09551C0.516424 6.31565 0.516426 4.46224 1.79256 3.68238L7 0.500055L7 10.2778L1.79256 7.09551Z" />
            </svg>
          </div>
        </div>
        <div
          [ngClass]="message.sender === _enumSender.Chatbot || message.sender === _enumSender.Admin ? 'flex-1 bg-surface-100 dark:bg-surface-800 px-2 py-1 rounded-lg' : 'flex-1 bg-primary px-2 py-1 rounded-lg'">
          <p
            [ngClass]="message.sender === _enumSender.Chatbot || message.sender === _enumSender.Admin ? 'text-color leading-6 mb-0' : 'text-primary-contrast leading-6 mb-0'">
            {{ message.message }}
          </p>
          <div class="text-xs mt-1"
            [ngClass]="message.sender === _enumSender.Chatbot || message.sender === _enumSender.Admin ? 'text-muted-color text-right' : 'text-primary-contrast/70 text-right'">
            {{ message.time | date:'shortTime' }}
          </div>
        </div>
      </div>

      <div *ngIf="(chatCoreService.isLoadingSending$ | async)" class="flex items-start min-w-64 w-fit max-w-[60%]">
        <div class="flex items-center gap-2">
            <img src="/assets/images/agent.png" alt="Agent Avatar" class="w-10 h-10 text-sm font-medium rounded-full" />
            <div>
                <svg class="fill-surface-100 dark:fill-surface-800" xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="0 0 7 11" fill="none">
                    <path d="M1.79256 7.09551C0.516424 6.31565 0.516426 4.46224 1.79256 3.68238L7 0.500055L7 10.2778L1.79256 7.09551Z" />
                </svg>
            </div>
        </div>
        <div class="flex-1 bg-surface-100 dark:bg-surface-800 px-2 py-1 rounded-lg">
            <div class="whatsapp-typing-indicator">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
      </div>
    </div>

    <div class="p-4 border-t border-surface flex items-end justify-between gap-2">
      <div class="flex items-end gap-1 flex-1">
        <textarea name="input-message" #userInput pInputTextarea class="ml-1 flex-1 border-0 shadow-none max-h-32 min-h-9 bg-emphasis overflow-auto"
          autoResize rows="1" placeholder="Type your message..." (keyup.enter)="sendMessage()"></textarea>
      </div>
      <p-button icon="pi pi-send" (click)="sendMessage()" />
    </div>
  </div>
</div>