<div class="card flex" style="padding: 0; ">
  <p-breadcrumb class="max-w-full" [style]="{'border-radius': '6px'}" [model]="_listMenuItems" [home]="_defaultHomeMenu" />
</div>

<div class="flex-1 h-full overflow-y-auto overflow-x-clip overflow-hidden flex border border-surface rounded-2xl bg-surface-0 dark:bg-surface-900"
  style="height: calc(100vh - 100px); max-height: calc(100vh - 100px); border-radius: 6px;">
  <p-toast></p-toast>
  <div class="w-4/12 xl:w-4/12 min-w-40 flex flex-col gap-6" style="max-height: 100%; height: 100%;">
    <div class="flex flex-col gap-6 pt-3 pb-2 -mb-2 px-5 sticky top-0 bg-surface-0 dark:bg-surface-950 z-10">
      <div class="flex items-center justify-between gap-6 text-color">
        <div class="text-2xl font-medium lead">Chats</div>
      </div>
    </div>
    <div class="px-5">
      <p-iconField iconPosition="left">
        <p-inputIcon class="pi pi-search"> </p-inputIcon>
        <input type="text" pInputText [(ngModel)]="_searchRoomQuery" (keyup.enter)="onSearchChatHistory()" placeholder="Search room ..." class="w-full" />
      </p-iconField>
    </div>

    <div class="flex-1 flex flex-col overflow-y-auto">
        <div *ngFor="let user of filteredRooms"
          class="flex items-center gap-2 p-4 cursor-pointer hover:bg-emphasis transition-all"
          [ngClass]="{'bg-emphasis': user.id === _modelSelectedRoom?.id}"
          (click)="selectRoom(user)">

        <div class="relative">
          <p-avatar [label]="user.id ? user.id.charAt(0).toUpperCase() : ''"
            [ngClass]="{'!bg-primary-100 !text-primary-950': true}" styleClass="text-base font-medium flex"
            size="large" shape="circle" />
        </div>
        <div class="flex-1">
          <div class="flex items-start gap-1 justify-between">
            <div class="text-color font-medium leading-6">{{ user.id }}</div>
            <div class="text-sm text-muted-color leading-5">{{ user.lastTimeMessage | date:'shortTime' }}</div>
          </div>
          <div class="flex items-center gap-5 justify-between mt-1">
            <div class="text-muted-color text-sm leading-5 line-clamp-1">
              {{ user.lastMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-8/12 xl:w-8/12 border-x border-surface flex flex-col" style="max-height: 100%; height: 100%;">
    <div *ngIf="_modelSelectedRoom" class="flex items-center p-4 gap-7 border-b border-surface">
      <div class="flex items-center">
        <p-avatar [label]="_modelSelectedRoom.id ? _modelSelectedRoom.id.charAt(0).toUpperCase() : ''"
          styleClass="mr-2 av text-base font-medium flex !bg-primary-100 !text-primary-950" size="large" shape="circle" />
        <div class="flex-1">
          <div class="text-color leading-6 cursor-pointer hover:text-muted-color-emphasis transition-colors">
            {{ _modelSelectedRoom.id }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="!_modelSelectedRoom" class="no-selection flex-1 flex items-center justify-center">
      <p class="text-muted-color">Pilih user untuk memulai chat</p>
    </div>

    <div *ngIf="_modelSelectedRoom" #chatScroll class="flex-1 overflow-y-auto flex flex-col gap-8 py-8 px-6">
      <div *ngFor="let message of filteredMessages" class="flex items-start min-w-64 w-fit max-w-[60%]"
        [ngClass]="{ 'ml-auto mr-0 flex-row-reverse': message.sender === _enumSender.Chatbot || message.sender === _enumSender.Admin }">
        <div class="flex items-center gap-2 sticky top-0 transition-all" [ngClass]="{
                            'flex-row-reverse': message.sender === _enumSender.Chatbot || message.sender === _enumSender.Admin
                        }">
          <img *ngIf="message.sender === _enumSender.User" src="/assets/images/user.png" alt="User Avatar"
            class="w-10 h-10 text-sm font-medium rounded-full" />
          <img *ngIf="message.sender === _enumSender.Chatbot || message.sender === _enumSender.Admin"
            src="/assets/images/agent.png" alt="Agent Avatar" class="w-10 h-10 text-sm font-medium rounded-full" />
          <div>
            <svg [ngClass]="{
                                    'fill-surface-100 dark:fill-surface-800': message.sender === _enumSender.User,
                                    'fill-primary rotate-180': message.sender === _enumSender.Chatbot || message.sender === _enumSender.Admin
                                }" class="" xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="0 0 7 11"
              fill="none">
              <path
                d="M1.79256 7.09551C0.516424 6.31565 0.516426 4.46224 1.79256 3.68238L7 0.500055L7 10.2778L1.79256 7.09551Z" />
            </svg>
          </div>
        </div>
        <div
          [ngClass]="message.sender === _enumSender.User ? 'flex-1 bg-surface-100 dark:bg-surface-800 px-2 py-1 rounded-lg' : 'flex-1 bg-primary px-2 py-1 rounded-lg'">
          <p
            [ngClass]="message.sender === _enumSender.User ? 'text-color leading-6 mb-0' : 'text-primary-contrast leading-6 mb-0'">
            {{ message.message }}
          </p>
          <div class="text-xs mt-1"
            [ngClass]="message.sender === _enumSender.User ? 'text-muted-color text-right' : 'text-primary-contrast/70 text-right'">
            {{ message.time | date:'shortTime' }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="_modelSelectedRoom" class="p-4 border-t border-surface flex items-end justify-between gap-2">
      <div class="flex items-end gap-1 flex-1">
        <textarea pInputTextarea class="ml-1 flex-1 border-0 shadow-none max-h-32 min-h-9 bg-emphasis overflow-auto"
          autoResize rows="1" placeholder="Write your message..." [(ngModel)]="_stringNewMessage"
          (keyup.enter)="sendMessageFromAdmin()"></textarea>
      </div>
      <p-button icon="pi pi-send" (click)="sendMessageFromAdmin()" />
    </div>
  </div>
</div>