<div class="card flex" style="padding: 0; ">
    <p-breadcrumb class="max-w-full" [style]="{'border-radius': '6px'}" [model]="_listMenuItems" [home]="_defaultHomeMenu" />
</div> 
<div class="prompt-editor-container">
  <p-toast></p-toast>
  <p-card styleClass="p-card-shadow" [style]="{'border-radius': '6px'}">
    <p-confirmDialog></p-confirmDialog>
    <h2 class="text-2xl font-bold text-900">Prompt Editor</h2>
    <div class="editor-content">
      <div class="prompt-editor" *ngIf="_objtSelectedPrompt?.name">

        <h6 style="padding-top: 10px;">Prompt {{ _objtSelectedPrompt!.name }} : </h6>
        <textarea pTextarea  [(ngModel)]="_objtSelectedPrompt.content" style="width: 100%; height: 400px;">{{ _objtSelectedPrompt.content }}</textarea>

        <div class="button-group" [style]="{'margin-top': '10px'}">
          <p-button
            label="Reset"
            icon="pi pi-refresh"
            styleClass="p-button-md p-button-secondary"
            [style]="{'margin-right': '10px'}"
            (onClick)="confirmResetPrompt($event)"
            [raised]="true">
          </p-button>
          <p-button
            label="Save"
            icon="pi pi-save"
            styleClass="p-button-md"
            (onClick)="confirmSavePrompt($event)"
            [disabled]="!isPromptChanged()"
            [raised]="true">
          </p-button>
        </div>
      </div>
    </div>
  </p-card>
</div>