<div class="card flex" style="padding: 0;">
  <p-breadcrumb class="max-w-full" [style]="{'border-radius': '6px'}" [model]="_listMenuItems" [home]="_defaultHomeMenu" />
</div>

<div class="prompt-editor-container">
  <p-toast></p-toast>

  <p-card styleClass="p-card-shadow" [style]="{'border-radius': '6px'}">
    <p-confirmDialog></p-confirmDialog>

    <div class="flex items-start gap-2 justify-between">
        <div>
            <div class="text-2xl leading-8 text-color font-medium mb-6">Prompt Editor</div>
        </div>
    </div>

    <div class="editor-content" *ngIf="_objtSelectedPrompt">
      <!-- Prompt Name -->
      <div class="field mb-3">
        <label for="promptName" class="font-semibold">Prompt Name</label>
        <textarea id="promptName" pInputTextarea rows="2" [(ngModel)]="_objtSelectedPrompt.name" placeholder="Enter prompt name..." style="width: 100%; margin-top: 10px;"></textarea>
      </div>

      <!-- Agent Name -->
      <div class="field mb-3">
        <label for="nameAgent" class="font-semibold">Agent Name</label>
        <textarea id="nameAgent" pInputTextarea rows="2" [(ngModel)]="_objtSelectedPrompt.name_agent" placeholder="Enter agent name..." style="width: 100%; margin-top: 10px;"></textarea>
      </div>

      <!-- Agent Description -->
      <div class="field mb-3">
        <label for="descriptionAgent" class="font-semibold">Agent Description</label>
        <textarea id="descriptionAgent" pInputTextarea rows="4" [(ngModel)]="_objtSelectedPrompt.description_agent" placeholder="Enter agent description..." style="width: 100%; margin-top: 10px;"></textarea>
      </div>

      <!-- Style Communication -->
      <div class="field mb-3">
        <label for="styleCommunication" class="font-semibold">Style Communication</label>
        <textarea id="styleCommunication" pInputTextarea rows="4" [(ngModel)]="_objtSelectedPrompt.style_communication" placeholder="Enter style communication..." style="width: 100%; margin-top: 10px;"></textarea>
      </div>

      <div class="field mb-3">
        <label for="goalAgent" class="font-semibold">Goals Agent</label>
        <textarea id="goalAgent" pInputTextarea rows="4" [(ngModel)]="_objtSelectedPrompt.goal" placeholder="Enter system prompt..." style="width: 100%; margin-top: 10px;"></textarea>
      </div>

      <div class="field mb-3">
        <label for="expectedOutput" class="font-semibold">Expected Output</label>
        <textarea id="expectedOutput" pInputTextarea rows="4" [(ngModel)]="_objtSelectedPrompt.expected_output" placeholder="Enter system prompt..." style="width: 100%; margin-top: 10px;"></textarea>
      </div>

      <div class="field mb-3">
        <label for="systemPrompt" class="font-semibold">Instructions</label>
        <textarea id="systemPrompt" pInputTextarea rows="8" [(ngModel)]="_objtSelectedPrompt.prompt_system" placeholder="Enter system prompt..." style="width: 100%; margin-top: 10px;"></textarea>
      </div>

      <!-- Tombol Aksi -->
      <div class="button-group mt-3">
        <p-button
          label="Reset"
          icon="pi pi-refresh"
          styleClass="p-button-md p-button-secondary mr-4"
          [style]="{'margin-right': '10px;'}"
          (onClick)="confirmResetPrompt($event)"
          [raised]="true">
        </p-button>

        <p-button
          label="Save"
          icon="pi pi-save"
          styleClass="p-button-md"
          (onClick)="confirmSavePrompt($event)"
          [disabled]="!isPromptChanged()"
          [raised]="true">
        </p-button>
      </div>
    </div>
  </p-card>
</div>
