:host {
  --p-button-primary-background: #2196f3;
  --p-button-primary-border-color: #2196f3;
  --p-button-primary-text-color: #ffffff;

  --p-button-primary-hover-background: #1976d2;
  --p-button-primary-hover-border-color: #1976d2;
  --p-button-primary-hover-text-color: #ffffff;
}

