<div class="fixed floatingButton">
  <button *ngIf="!_booleanIsOpen" class="chat-button" (click)="toggleChat()">
    Chat Agent
    <img src="/assets/images/customer-service.png" alt="Chat Icon" class="chat-icon" />
    <div *ngIf="_booleanShowNotificationBubble" class="notification-bubble">
      {{ _numberUnreadMessageCount }}
    </div>
  </button>
</div>

<div class="fixed chatModal" [ngClass]="{'chatModal--hidden': !_booleanIsOpen}">

  <div class="absolute" [ngStyle]="{ top: '1.5rem', right: '1rem', maxWidth: '30px' }">
      <button class="close-button" (click)="toggleChat()">
        <img src="/assets/images/close-icon.png" alt="Close" class="close-icon" />
      </button>
  </div>

  <iframe 
    src="http://localhost:4202" 
    width="100%" 
    height="100%" 
    frameborder="0" 
    scrolling="yes"
    allow="microphone; camera">
  </iframe>
</div>