<div class="DivAppParent">
    <router-outlet></router-outlet>
    <app-chat-widget></app-chat-widget>
    <div class="loading-overlay" id="divLoading" style="
    display: none !important;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" animationDuration=".8s"></p-progressSpinner>
        <p>Processing, please wait...</p>
    </div>
    <p-dialog 
        [header]="modalCode"
        [modal]="true" 
        [(visible)]="displayModal" 
        [draggable]="false" 
        [resizable]="false" 
        [style]="{ width: '90%', maxWidth: '400px' }"
        position="top"
    >
        <div class="p-d-flex flex p-ai-center">
            <i
                class="pi pi-exclamation-triangle p-mr-3"
                style="font-size: 2rem; color: var(--red-500);"
                aria-hidden="true"
            ></i>
            <p class="ml-5">{{ modalDetail }}</p>
        </div>

        <ng-template pTemplate="footer">
            <div class="p-d-flex p-jc-end">
                <p-button label="OK" (click)="onOkClick()"></p-button>
            </div>
        </ng-template>
    </p-dialog>
</div>

<!-- <router-outlet></router-outlet> -->