<div class="card flex" style="padding: 0; ">
	<p-breadcrumb class="max-w-full" [style]="{'border-radius': '6px'}" [model]="_listMenuItems"
		[home]="_defaultHomeMenu" />
</div>
<div class="report-container">
	<p-toast></p-toast>
	<p-card styleClass="p-card-shadow" [style]="{'border-radius': '6px'}">

		<div class="flex items-start gap-2 justify-between">
			<div>
				<div class="text-2xl leading-8 text-color font-medium">Data Realtime Monitoring</div>
			</div>
		</div>
		<div class="mt-6 mb-4 flex items-center justify-between">
			<p-iconfield iconPosition="left">
				<p-inputicon class="pi pi-search"> </p-inputicon>
				<input
				pInputText
				type="text"
				[(ngModel)]="_searchQuery"
				(ngModelChange)="onSearchChange($event)"
				placeholder="Search"
				name="modelSearchQuery"
				/>

			</p-iconfield>
			<div class="flex items-center gap-3">
				<p-button icon="pi pi-refresh" outlined severity="secondary" (onClick)="onRefreshData()"/>
			</div>
		</div>

		<div class="flex-1 last:[&>td]:border-0 rounded-lg border border-surface w-full overflow-auto">
			<p-table #dt1 stripedRows [value]="_arrayChatHistoryModel" dataKey="id" [paginator]="true"
				[rows]="_numberRows" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 20]"
				[totalRecords]="_numberTotalRecords" [loading]="_booleanIsLoading" [globalFilterFields]="['role']"
				(onLazyLoad)="onLazyLoad($event)" [lazy]="true" [style]="{'border-radius': '6px'}"
				selectionMode="single" [(selection)]="_selectedChat" (onRowSelect)="onSelectChat($event)">
				>
				<ng-template #header>
					<tr>
						<th>Role</th>
						<th>Sender ID</th>
						<th>Room ID</th>
						<th>Message</th>
						<th>Agent Response Category</th>
						<th>Timestamp</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-chat let-rowIndex="rowIndex">
					<tr [pSelectableRow]="chat">
						<td class="">{{ chat.role || '-' }}</td>
						<td class="text-muted-color">{{ chat.sender_id || '-' }}</td>
						<td class="text-muted-color">{{ chat.room_conversation_id || '-' }}</td>
						<td class="text-muted-color">{{ chat.message?.length > 30 ? (chat.message | slice:0:30) + '...'
							:
							chat.message || '-' }}</td>
						<td class="text-muted-color">{{ chat.agent_response_category || '-' }}</td>
						<td class="text-muted-color">{{ chat.created_at | date:'yyyy-MM-dd HH:mm' }}</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="10" class="no-data">No chat history found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="10" class="loading">Loading chat history, please wait...</td>
					</tr>
				</ng-template>
			</p-table>

			<p-dialog
			header="Detail Chat"
			[(visible)]="_booleanShowDialog"
			[modal]="true"
			[style]="{ width: '50vw' }"
			[closable]="true"
			[dismissableMask]="true"
			>
			<ng-container *ngIf="_selectedChat">
				<div class="p-fluid">
				<!-- Sender ID -->
				<div class="field">
					<label class="font-semibold block font-medium text-color mb-2">Sender ID :</label>
					<p>{{ _selectedChat.sender_id }}</p>
					<p-divider></p-divider>
				</div>

				<!-- Room ID -->
				<div class="field">
					<label class="font-semibold block font-medium text-color mb-2">Room ID :</label>
					<p>{{ _selectedChat.room_conversation_id }}</p>
					<p-divider></p-divider>
				</div>

				<!-- Role -->
				<div class="field">
					<label class="font-semibold block font-medium text-color mb-2">Role :</label>
					<p>
					<span class="p-tag text-capitalize"
					[ngClass]="{
						'p-tag-success': _selectedChat.role === 'chatbot',
						'p-tag-info': _selectedChat.role === 'user',
						'p-tag-warning': _selectedChat.role === 'admin'
					}"
					>{{ _selectedChat.role }}</span>
					</p>
					<p-divider></p-divider>
				</div>

				<!-- Message -->
				<div class="field">
					<label class="font-semibold block font-medium text-color mb-2">Message :</label>
					<p>
					<span class="p-tag p-tag-info text-capitalize">"{{ _selectedChat.message }}"</span>
					</p>
					<p-divider></p-divider>
				</div>

				<!-- Timestamp -->
				<div class="field">
					<label class="font-semibold block font-medium text-color mb-2">Timestamp :</label>
					<p>{{ _selectedChat.created_at | date: 'yyyy-MM-dd HH:mm' }}</p>
					<p-divider></p-divider>
				</div>

				<!-- Agent Response Category -->
				<div class="field">
					<label class="font-semibold block font-medium text-color mb-2">Agent Response Category :</label>
					<p>{{ _selectedChat.agent_response_category || '-' }}</p>
					<p-divider></p-divider>
				</div>

				<!-- Agent Response Latency -->
				<div class="field">
					<label class="font-semibold block font-medium text-color mb-2">Agent Response Latency :</label>
					<p>{{ formatLatency(_selectedChat.agent_response_latency) }}</p>
					<p-divider></p-divider>
				</div>

				<!-- Agent Total Tokens -->
				<div class="field">
					<label class="font-semibold block font-medium text-color mb-2">Agent Total Tokens :</label>
					<p>{{ _selectedChat.agent_total_tokens || '-' }}</p>
					<p-divider></p-divider>
				</div>

				<!-- Agent Tools Used -->
				<div class="field">
					<label class="font-semibold block font-medium text-color mb-2">Agent Tools Used :</label>
					<p>
					<ng-container *ngIf="(_selectedChat.agent_tools_call ?? []).length > 0; else noTools">
						<span
						class="p-tag p-tag-rounded p-mr-1"
						*ngFor="let tool of (_selectedChat.agent_tools_call ?? [])"
						>
						{{ tool }}
						</span>
					</ng-container>
					<ng-template #noTools>-</ng-template>
					</p>
				</div>
				</div>
			</ng-container>
			</p-dialog>

		</div>
	</p-card>
</div>