<div class="card flex" style="padding: 0;">
    <p-breadcrumb class="max-w-full" [style]="{'border-radius': '6px'}" [model]="_listMenuItems"
        [home]="_defaultHomeMenu" />
</div>

<div class="customer-container">

    <p-card styleClass="p-card-shadow" [style]="{'border-radius': '6px'}">

        <div class="flex items-start gap-2 justify-between">
            <div>
                <div class="text-2xl leading-8 text-color font-medium">Users Profile</div>
            </div>
        </div>

        <div class="mt-6 mb-4 flex items-center justify-between">
            <p-iconfield iconPosition="left">
                <p-inputicon class="pi pi-search"> </p-inputicon>
                <input pInputText type="text" [(ngModel)]="_searchQuery" placeholder="Search" />
            </p-iconfield>
            <div class="flex items-center gap-3">
                <p-button icon="pi pi-refresh" outlined severity="secondary" (onClick)="onRefreshData()"/>
            </div>
        </div>

        <div class="flex-1 last:[&>td]:border-0 rounded-lg border border-surface w-full overflow-auto">
            <p-table [value]="tableData" stripedRows [paginator]="true" [rows]="_numberRows"
                [totalRecords]="_numberTotalRecords" [showCurrentPageReport]="true" [loading]="_booleanIsLoading"
                [rowsPerPageOptions]="[5, 10, 20, 30]" selectionMode="single"
                (onRowSelect)="onSelectRow($event)" dataKey="id" [scrollable]="true" [style]="{'border-radius': '6px'}"
                [lazy]="true" (onLazyLoad)="onLazyLoad($event)">

                <ng-template #header>
                    <tr>
                        <th>Channel</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Total Messages</th>
                        <th>Status</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-data>
                    <tr [pSelectableRow]="data">
                        <td> {{ data.channel || '-' }}</td>
                        <td class="leading-6 text-muted-color">{{ data.start_time | date: 'yyyy-MM-dd HH:mm' }}</td>
                        <td class="leading-6 text-muted-color">{{ data.end_time ? (data.end_time | date: 'yyyy-MM-dd HH:mm') : '-' }}</td>
                        <td class="leading-6 text-muted-color">{{ data.total_messages || 0 }}</td>
                        <td>
                            <p-tag [value]="data.conversation_status || 'N/A'" severity="info"></p-tag>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No interaction data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7" class="loading">Loading feedback, please wait...</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>

    <p-dialog header="Interaction Detail" [(visible)]="_booleanShowDataDialog" [modal]="true"
        [style]="{ width: '40vw' }" [closable]="true" [dismissableMask]="true">
        <ng-container *ngIf="selectedInteraction">
            <div class="p-fluid">
                <div class="field">
                    <label class="font-semibold text-color">Channel:</label>
                    <p>{{ selectedInteraction.channel }}</p>
                    <p-divider></p-divider>
                </div>
                <div class="field">
                    <label class="font-semibold text-color">Start Time:</label>
                    <p>{{ selectedInteraction.start_time | date: 'yyyy-MM-dd HH:mm' }}</p>
                    <p-divider></p-divider>
                </div>
                <div class="field">
                    <label class="font-semibold text-color">End Time:</label>
                    <p>{{ selectedInteraction.end_time || '-' }}</p>
                    <p-divider></p-divider>
                </div>
                <div class="field">
                    <label class="font-semibold text-color">Total Messages:</label>
                    <p>{{ selectedInteraction.total_messages }}</p>
                    <p-divider></p-divider>
                </div>
                <div class="field">
                    <label class="font-semibold text-color">Status:</label>
                    <p>{{ selectedInteraction.conversation_status || '-' }}</p>
                    <p-divider></p-divider>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</div>